.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around;
    margin-top: 28px; */
    height: 75px;
    margin-top: 32px;
    font-size: 20px;
    color: rgb(60, 60, 60);
}

.form-headerText {
    margin-top: 14px;
    /* margin-top: 2px; */
}

.home-nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(30, 30, 30);
    width: 100vw;
    height: 50px;
    padding: 0px 75px;
}

.formNav-logo {
    display: flex;
    align-items: center;
    width: fit-content;
}

.formNav-logo:hover {
    cursor: pointer;
}

.form-logoText {
    margin-left: 2px;
    color: white;
    font-size: 41px;
    font-weight: bold;
}

.form-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../images/form_background_mountains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.form-container {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0px 25px;
    width: 350px;
    height: 700px;
    border-radius: 5px;
}

#loginForm-container {
    height: 430px;
}

.field-container {
    margin-bottom: 50px;
}

.form-field {
    margin: 4px 0px;
    padding: 15px;
    height: 60px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.15s linear;
    color: rgb(60, 60, 60);
}

.form-field:focus {
    outline: none;
    border: 1px solid rgb(22, 142, 220);
}

.form-field::placeholder {
    position: absolute;
    top: 20px;
    transition: all 0.15s linear;
}

.form-field:focus::placeholder {
    position: absolute;
    left: 14px;
    top: 7px;
    color: rgb(22, 142, 220);
    font-size: 12px;
    
}

.form-button {
    background-color: rgb(22, 142, 220);
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.form-button:hover {
    background-color: rgba(22, 142, 220, 0.92);
    cursor: pointer;
}

.redirect-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 1px solid lightgrey;
    padding: 20px 0px;
    color: rgb(60, 60, 60);
    font-size: 14px;
}

.redirect-text {
    margin-right: 3px;
}

.redirect-link {
    margin-left: 3px;
    color: rgb(22, 142, 220);
}

.upload-logout-container {
    display: flex;
    align-items: center;
}

.fa-cloud-upload-alt {
 color: white;
 font-size: 28px;
 margin: 0px 15px;
}

.fa-cloud-upload-alt:hover {
    color: rgba(255, 255, 255, 0.90);
}

#logout-button {
    width: 78px;
    height: 24px;
    background-color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

#logout-button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.90);
}

#home-logoText:hover {
    color: rgba(255, 255, 255, 0.90);
}

.home-photoLi {
    position: relative;
}

.home-img {
    position: fixed;
    /* width: 500px;
    height: 100%; */
}

.home-photoMask {
    position: fixed;
}


/* .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
} */





/* .solidBlack {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    width: fit-content;
    height: 100%;
}

.photo-li {
    background-color: black;
    width: fit-content;
    height: fit-content;
} */