.splash-container {
    background-image: url("../../images/form_background_mountains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    transition: background-image 2s ease-in-out;
}

#splash-nav {
    background-color: rgba(30, 30, 30, 0.5);
}

.splash-footer {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0px;
    justify-content: space-between;
    background-color: rgba(30, 30, 30);
    width: 100vw;
    height: 50px;
    padding: 0px 75px;
    z-index: 1000;
}

#login-button {
    color: white;
    font-size: 16px;
    margin: 0px 20px;
}

#login-button:hover {
    cursor: pointer;
}

#guestLogin-button {
    width: fit-content;
    height: 34px;
    padding: 0px 15px;
    background-color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: rgb(30, 30, 30);
}

#guestLogin-button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.90);
}

#splash-signup-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#slogan-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     color: white;
}

.slogan {
    margin: 10px 0px;
}

#inspiration {
    font-size: 48px;
}

#free {
    font-size: 24px;
}

#signup-button {
    background-color: white;
    border-radius: 4px;
    margin-top: 50px;
    padding: 4px 12px;
    font-size: 26px;
}

#about {
    font-size: 18px;
    color: white;
}

.connect {
    color: white;
    display: flex;
    align-items: center;
}

.connect-item {
    font-size: 22px;
    color: white;
    margin: 10px;
}

#connect-text {
    font-size: 18px;
    border-right: 1px solid white;
    padding: 0px 20px;
}


