#splash-container {
    background-image: url("https://pixelphotoapp.s3.us-west-2.amazonaws.com/pixel-seeder-photos/splash-images/Sunrise.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    transition: background-image 1s linear;
}

#imgCache {
    display: none;
}

/* Nav bar */
#splash-nav {
    height: 50px;
    background-color: rgba(30, 30, 30, 0.75);
}

#logo-container {
    display: flex;
    align-items: center;
}

.splash-button {
    width: fit-content;
    height: fit-content;
    margin: 0px 5px;
    padding: 5px 15px;
    background-color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(30, 30, 30);
}

.splash-button:hover {
    cursor: pointer;
    background-color: rgb(228, 228, 228);
    transition: all 0.15s linear;
}

#login-button {
    color: white;
    font-size: 16px;
    margin: 0px 20px;
    transition: all 0.15s linear;
}

#login-button:hover {
    cursor: pointer;
    color: rgb(228, 228, 228);
}

/* Middle section */
#splash-signup-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}

#slogan-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     color: white;
}

.slogan {
    margin: 8px 0px;
}

#inspiration {
    font-size: 52px;
}

#join {
    font-size: 24px;
}

#startForFree {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin-top: 52px;
    width: 200px;
    height: 60px;
    font-size: 26px;
}

/* Footer */
.splash-footer {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0px;
    justify-content: flex-end;
    background-color: black;
    width: 100vw;
    height: 50px;
    padding: 0px 50px;
    z-index: 1000;
}

.connect {
    display: flex;
    align-items: center;
}

.connect-item {
    font-size: 21px;
    color: rgb(180, 180, 180);
    margin: 10px;
}

#connect-text {
    font-size: 15px;
    border-right: 1px solid white;
    padding: 5px 20px;
}

.connect-icon {
    transition: all 0.15s linear;
}

.connect-icon:hover {
    color: white;
}

@media screen and (max-width: 750px) {
    #splash-nav {
        padding: 0px 15px;
    }
  }

@media screen and (max-height: 475px) {
    #splash-signup-container {
        position: absolute;
        top: 20px;
    }

    #startForFree {
        margin-top: 12px;
    }
    
  }